{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">

    <div class="card text-dark bg-info mb-3">
        <div class="card-body">
            <h6 class="card-title">Sensor Monitor</h6>
            <h2 class="card-text">{{ time }}</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Temperature</h6>
            <h2 class="card-text">{{ tempf }} &#8457</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Humidity</h6>
            <h2 class="card-text">{{ humidity }}% RH</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Pressure</h6>
            <h2 class="card-text">{{ pressure }} inHg</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">eCO2</h6>
            <h2 class="card-text">{{ eco2 }} ppm</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">TVOC</h6>
            <h2 class="card-text">{{ tvoc }} ppb</h2>
        </div>
    </div>

    <div class="card text-dark bg-info mb-3">
        <div class="card-body">
            <h6 class="card-title">Last Hour</h6>
            <h2 class="card-text">Historical Data</h2>
        </div>
    </div>

    <!--- One Hour History, Low Temp, High Temp, Low Humidity, High Humidity-->

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Temperature</h6>
            <h4 class="card-text">Low: {{ tlow }} &#8457<br />High: {{ thigh }} &#8457</h4>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Humidity</h6>
            <h4 class="card-text">Low: {{ hlow }}<br />High: {{ hhigh }} </h4>
        </div>
    </div>

    <!--- 6 Hour History, Low Temp, High Temp, Low Humidity, High Humidity-->

    <div class="card text-dark bg-info mb-3">
        <div class="card-body">
            <h6 class="card-title">Last 6 Hours</h6>
            <h2 class="card-text">Historical Data</h2>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Temperature</h6>
            <h4 class="card-text">Low: {{ tlow2 }} &#8457<br />High: {{ thigh2 }} &#8457</h4>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 12rem;">
        <div class="card-body">
            <h6 class="card-title">Humidity</h6>
            <h4 class="card-text">Low: {{ hlow2 }}<br />High: {{ hhigh2 }} </h4>
        </div>
    </div>

</div>

    {% endblock %}
